 //========= Colors
$background-color-menu: #282828;
$background-color-menu-hover: #383737;
$background-color-button: #43B3E0;
$background-color-contact: #303030;
$font-color-paragraph: #888888;
$font-color-title: #3e3e3e;
$color-icons: #EA8A95; 

//========= Media screen
$mq-large-screen: (max-width: 1100px);
$mq-medium-screen: (max-width: 980px);
$mq-small-screen: (max-width: 737px);
 
$md: 980px;
$sm: 737px;
