    .copyright {
        
        &__list {
            padding: 5em 0;
            display: flex;
            justify-content: center;
            color: #666;
            font-size: 0.8em;
        }
        
        &__item:nth-child(2), &__item:nth-child(3) {
            border-left: solid 1px rgba(0, 0, 0, 0.5);
            box-shadow: -1px 0px 0px 0px rgba(255, 255, 255, 0.1);
            padding: 0 0 0 1em;
            margin: 0 0 0 1em;
        }
    }