.input-form {
    margin-bottom: 2%;
    padding: 17px;

    border: none;
    border-radius: 6px;

    box-shadow: inset 0px 2px 3px 1px rgba(0, 0, 0, 0.05), 0px 1px 0px 0px rgba(255, 255, 255, 0.025);
    background-color: $background-color-menu;
    font-size: 1.1em;
}